# Impact of Amazon-Occupied Buildings on Seattle's GHGE

## Todo:

- List of Amazon-occupied properties
    - Anything with Amazon in the name
    - Anything from [this article](https://www.geekwire.com/amazon-office-buildings/)
    - Data center at the Westin (used by Amazon)
    - Whole Foods stores, Amazon Go stores

- Add a category for office building/ata center/Whole Foods/Amazon Go

- Total GHGE, compare with other categories (office buildings), other owners

- Site/source GHGE

- Compare electricity and gas use

- Compare GHG Intensity to categories/owners

- Compare Whole Foods--is it worse, better, etc.?


## If this isn't fruitful:

Find a new villain: 

- What categories are the biggest polluters?
- What owners are the biggest polluters (pull from landlords.csv)
- What buildings/owners/types are secretly polluting a lot or in a strange way?

In [1]:
import numpy as np
import pandas as pd
import pandas_gbq

In [2]:
query = """
    SELECT *
    FROM `GHGE_buildings_data.building-benchmark`;
"""

all_buildings_dataframe = pandas_gbq.read_gbq(query, project_id='seattle-377109')

Downloading: 100%|█████████████████████████████████████████████████████████████|

In [5]:
# df of landlords' overall energy use, uses updated owners
aggregate_landlords_df = pd.read_csv('../worst_offenders/landlords_with_total_energy_use_2_16_23.csv')

In [7]:
aggregate_landlords_df.head()

,Unnamed: 0,Owner,BuildingsOwned,TotalSquareFootage,TotalGHGEmissions__metric_tons_,TotalElectricity_kBtu_,TotalSteamUse_kBtu,TotalNaturalGas_kBtu,TotalOtherFuelUse_kBtu,AverageGHGEmissionsIntensity,AverageSiteEUI_kBtu_sf,AverageSourceEUI_kBtu_sf,AverageENERGYSTARScore
0,0,CITY OF SEATTLE,175,17038324,16357,501287744,6826192,247129120,0,1.172674,49.970175,108.376608,72.747899
1,1,UNIVERSITY OF WASHINGTON,43,18445870,39712,679730875,366595771,106707401,0,4.756098,147.265000,321.932500,61.818182
2,2,STATE OF WASHINGTON,17,2768746,3614,88426130,0,59208493,0,2.112500,71.162500,134.625000,55.375000
3,3,KING COUNTY,16,4355059,22535,255701627,16515088,372904431,0,1.750000,66.943750,137.293750,68.083333
4,4,OVERLOOK MAGNOLIA APARTMENTS LLC,11,388815,52,9911319,0,0,0,0.127273,25.418182,71.145455,74.545455

In [9]:
# all buildings with consolidated owners

updated_owners_df = pd.read_csv('../worst_offenders/updated_owners_2_15_23.csv')

updated_owners_df.head()

,Unnamed: 0,OSEBuildingID,TaxParcelIdentificationNumber,DataYear,BuildingType,BuildingName,Owner,CouncilDistrictCode,Neighborhood,Units,...,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,Outlier,ComplianceIssue,ComplianceStatus,Comments,DefaultData,LegislationPropertyType,Dept
0,0,50148,7733600135,2020,NonResidential,RESIDENCE INN SEATTLE U,TMUD GSL LLC,4.0,NORTHEAST,NaN,...,54695.0,NaN,NaN,NaN,No Issue,Compliant,NaN,NaN,Hotel,NaN
1,1,50150,1991200090,2020,NonResidential,HYATT HOUSE,HH SEATTLE LLC,1.0,LAKE UNION,NaN,...,28069.0,NaN,NaN,NaN,No Issue,Compliant,NaN,NaN,Hotel,NaN
2,2,50160,659000775,2020,NonResidential,AMAZON DOPPLER BUILDING,ACORN DEVELOPMENT LLC,7.0,DOWNTOWN,NaN,...,448625.0,Convention Center,59672.0,NaN,No Issue,Compliant,NaN,NaN,Office,NaN
3,3,50166,4083306985,2020,NonResidential,TABLEAU (NORTH EDGE),BRE-BMR 34TH LLC,1.0,LAKE UNION,NaN,...,117684.0,Restaurant,2839.0,NaN,No Issue,Compliant,NaN,NaN,Office,NaN
4,4,50192,660001605,2020,NonResidential,MIDTOWN 21 (AMAZON),MIDTOWN21 LLC,1.0,DOWNTOWN,NaN,...,110813.0,NaN,NaN,NaN,No Issue,Compliant,NaN,NaN,Office,NaN

## List of Amazon-occupied properties

    - Anything with Amazon in the name
    - Anything from [this article](https://www.geekwire.com/amazon-office-buildings/)
    - Data center at the Westin (used by Amazon)
    - Whole Foods stores, Amazon Go stores

### Buildings with Amazon in the name

In [54]:
amazon_ose_ids = []

buildings_with_amazon_in_name = all_buildings_dataframe[all_buildings_dataframe['BuildingName'].str.contains('amazon', case=False)]

In [11]:
buildings_with_amazon_in_name.head()

,OSEBuildingID,TaxParcelIdentificationNumber,DataYear,BuildingType,BuildingName,Owner,CouncilDistrictCode,Neighborhood,Units,YearBuilt,...,SecondLargestPropertyUseType,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,Outlier,ComplianceIssue,ComplianceStatus,Comments,DefaultData,LegislationPropertyType
2,50160,659000775,2020,NonResidential,AMAZON DOPPLER BUILDING,ACORN DEVELOPMENT LLC,7,DOWNTOWN,None,2016,...,Parking,448625,Convention Center,59672,None,No Issue,Compliant,None,None,Office
4,50192,660001605,2020,NonResidential,MIDTOWN 21 (AMAZON),MIDTOWN21 LLC,1,DOWNTOWN,None,2016,...,Parking,110813,None,<NA>,None,No Issue,Compliant,None,None,Office
1497,49985,1983200075,2020,NonResidential,AMAZON PHASE VI - NESSIE AND BIGFOOT,UNION INVESTMENT REAL ESTATE GMBH,1,LAKE UNION,None,2014,...,Parking,169195,None,<NA>,None,No Issue,Compliant,None,None,Office
1499,50037,1991201265,2020,NonResidential,APOLLO BLDG (AMAZON),USQ PHASE EIGHT LLC,1,LAKE UNION,None,2014,...,Parking,136594,Food Service,5699,None,No Issue,Compliant,None,None,Office
1500,50045,1983200035,2020,NonResidential,AMAZON BRAZIL,RF SIDNEYSEA TIC LLC +BRAZIL 7STAR LLC,1,LAKE UNION,None,2015,...,Parking,146810,Restaurant,5416,None,No Issue,Compliant,None,None,Office

In [55]:
amazon_ose_ids += list(buildings_with_amazon_in_name['OSEBuildingID'])

amazon_ose_ids

[50160,
 50192,
 49985,
 50037,
 50045,
 50241,
 50270,
 50528,
 50294,
 50656,
 19776,
 390]

### Buildings from GeekWire Article

https://www.geekwire.com/amazon-office-buildings/

This website is a WP site with an embedded Google Map. All normal ways of scraping Google Maps data appear not to work on WP sites, with no obvious substitutes (API responses, HTML, etc. all draw blanks). So let's copy-pasta the text and go with that.

In [21]:
amazon_headers = '''Office Name	Sq Ft	Address	Leased/Owned	News Coverage	Announced'''.split('	')
amazon_buildings_text = '''
	1260 Mercer	106,000	
1260 Mercer St.
Seattle, WA 98109
Lease	  Read More	2011
	1918 Eighth	460,000	
1918 Eighth Ave.
Seattle, WA 98101
Lease	  Read More	2011
	2201 Westlake	180,000	
2201 Westlake Ave.
Seattle, WA 98121
Lease	  Read More	2010
	300 Pine (Macy’s)	470,000	
300 Pine St.
Seattle, WA 98101
Lease	  Read More	2017
	425 Centre	354,000	
425 106th Ave. N.E.
Bellevue, WA 98004
Lease	  Read More	2016
	428 Westlake	81,000	
428 Westlake Ave. N.
Seattle, WA 98109
Lease	  Read More	2016
	4th Block	850,000	
2200 Seventh Ave.
Seattle, WA 98121
Own	  Read More	2014
	5th Block	405,000	
2205 Seventh Ave.
Seattle, WA 98121
Own	  Read More	2016
	9th & Thomas	156,000	
234 Ninth Ave. N.
Seattle, WA 98109
Lease	  Read More	2017
	Amazon Alexandria	200,000	
1800 Ninth Ave. N.
Seattle, WA 98101
Lease	  Read More	2013
	Amazon Coral	100,000	
2301 Fifth Ave.
Seattle, WA 98121
Lease	  Read More	2014
	Amazon Delight	19,000	
507 Westlake Ave. N.
Seattle, WA 98109
Lease	  Read More	2014
	Amazon Galaxy	196,000	
635 Elliott Ave. W.
Seattle, WA 98119
Lease	  Read More	2014
	Amazon Houston	17,000	
224 Westlake Ave. N.
Seattle, WA 98109
Lease		2013
	Amazon Kumo	251,000	
1915 Terry Ave.
Seattle, WA 98101
Lease	  Read More	2014
	Amazon Phase VI (Nessie)	392,000	
500 Ninth Ave. N.
Seattle, WA 98109
Lease	  Read More	2012
	Amazon Phase VII	313,000	
400 Ninth Ave. N.
Seattle, WA 98109
Lease	  Read More	2013
	Amazon Phase VIII	317,000	
325 Ninth Ave. N.
Seattle, WA 98109
Lease	  Read More	2013
	Amazon Roxanne	110,000	
202 Westlake Ave. N.
Seattle, WA 98109
Lease	  Read More	2012
	Amazon Stackhouse	26,000	
477 Yale Ave. N.
Seattle, WA 98109
Lease	  Read More	2014
	Blanchard Plaza	255,000	
2201 Sixth Ave.
Seattle, WA 98121
Lease	  Read More	2014
	Block 20	1.1 million	
2100 Seventh Ave.
Seattle, WA 98121
Own		2012
	Day One	1.1 million	
2121 Seventh Ave.
Seattle, WA 98121
Own	  Read More	2012
Amazon Doppler	Doppler	1.1 million	
2021 Seventh Ave.
Seattle, WA 98121
Own	  Read More	2012
	Former Pemco HQ	168,300	
301 Eastlake Ave. E.
Seattle, WA 98109
Lease	  Read More	2018
	Metropolitan Park North	140,000	
1220 Howell St.
Seattle, WA 98101
Lease	  Read More	2013
	Midtown21	365,000	
1007 Stewart St.
Seattle, WA 98101
Lease	  Read More	2016
	Original South Lake Union Campus (11 buildings)	1.7 million	
410 Terry Ave. N.
Seattle, WA 98109
Own	  Read More	2007
	Rainier Square redevelopment	710,000	
1301 5th Ave
Seattle, WA 98101
Lease	  Read More	2017
	Tilt49	306,000	
1812 Boren Ave.
Seattle, WA 98101
Lease	  Read More	2017
	Troy Block	817,000	
307 Fairview Ave. N.
Seattle, WA 98109
Lease	  Read More	2015
	Urban Union	287000	
501 Fairview Ave. N.
Seattle, WA 98109
Lease	  Read More	2016
	West 8th	250,000	
2001 Eighth Ave.
Seattle, WA 98121
Lease	  Read More	2011
	Westlake Terry	275,000	
321 Terry Ave. N.
Seattle, WA 98109
Lease	  Read More	2016'''

In [23]:
amazon_building_indiv = amazon_buildings_text.split('	') 
# this puts the announcement year in the next row, 
# but we don't actually care for this purpose

In [24]:
amazon_building_indiv

['\n',
 '1260 Mercer',
 '106,000',
 '\n1260 Mercer St.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2011\n',
 '1918 Eighth',
 '460,000',
 '\n1918 Eighth Ave.\nSeattle, WA 98101\nLease',
 '  Read More',
 '2011\n',
 '2201 Westlake',
 '180,000',
 '\n2201 Westlake Ave.\nSeattle, WA 98121\nLease',
 '  Read More',
 '2010\n',
 '300 Pine (Macy’s)',
 '470,000',
 '\n300 Pine St.\nSeattle, WA 98101\nLease',
 '  Read More',
 '2017\n',
 '425 Centre',
 '354,000',
 '\n425 106th Ave. N.E.\nBellevue, WA 98004\nLease',
 '  Read More',
 '2016\n',
 '428 Westlake',
 '81,000',
 '\n428 Westlake Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2016\n',
 '4th Block',
 '850,000',
 '\n2200 Seventh Ave.\nSeattle, WA 98121\nOwn',
 '  Read More',
 '2014\n',
 '5th Block',
 '405,000',
 '\n2205 Seventh Ave.\nSeattle, WA 98121\nOwn',
 '  Read More',
 '2016\n',
 '9th & Thomas',
 '156,000',
 '\n234 Ninth Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2017\n',
 'Amazon Alexandria',
 '200,000',
 '\n1800 Ninth Ave. N.\nSeattle, WA 98101\nLease',
 '  Read More',
 '2013\n',
 'Amazon Coral',
 '100,000',
 '\n2301 Fifth Ave.\nSeattle, WA 98121\nLease',
 '  Read More',
 '2014\n',
 'Amazon Delight',
 '19,000',
 '\n507 Westlake Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2014\n',
 'Amazon Galaxy',
 '196,000',
 '\n635 Elliott Ave. W.\nSeattle, WA 98119\nLease',
 '  Read More',
 '2014\n',
 'Amazon Houston',
 '17,000',
 '\n224 Westlake Ave. N.\nSeattle, WA 98109\nLease',
 '',
 '2013\n',
 'Amazon Kumo',
 '251,000',
 '\n1915 Terry Ave.\nSeattle, WA 98101\nLease',
 '  Read More',
 '2014\n',
 'Amazon Phase VI (Nessie)',
 '392,000',
 '\n500 Ninth Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2012\n',
 'Amazon Phase VII',
 '313,000',
 '\n400 Ninth Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2013\n',
 'Amazon Phase VIII',
 '317,000',
 '\n325 Ninth Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2013\n',
 'Amazon Roxanne',
 '110,000',
 '\n202 Westlake Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2012\n',
 'Amazon Stackhouse',
 '26,000',
 '\n477 Yale Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2014\n',
 'Blanchard Plaza',
 '255,000',
 '\n2201 Sixth Ave.\nSeattle, WA 98121\nLease',
 '  Read More',
 '2014\n',
 'Block 20',
 '1.1 million',
 '\n2100 Seventh Ave.\nSeattle, WA 98121\nOwn',
 '',
 '2012\n',
 'Day One',
 '1.1 million',
 '\n2121 Seventh Ave.\nSeattle, WA 98121\nOwn',
 '  Read More',
 '2012\nAmazon Doppler',
 'Doppler',
 '1.1 million',
 '\n2021 Seventh Ave.\nSeattle, WA 98121\nOwn',
 '  Read More',
 '2012\n',
 'Former Pemco HQ',
 '168,300',
 '\n301 Eastlake Ave. E.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2018\n',
 'Metropolitan Park North',
 '140,000',
 '\n1220 Howell St.\nSeattle, WA 98101\nLease',
 '  Read More',
 '2013\n',
 'Midtown21',
 '365,000',
 '\n1007 Stewart St.\nSeattle, WA 98101\nLease',
 '  Read More',
 '2016\n',
 'Original South Lake Union Campus (11 buildings)',
 '1.7 million',
 '\n410 Terry Ave. N.\nSeattle, WA 98109\nOwn',
 '  Read More',
 '2007\n',
 'Rainier Square redevelopment',
 '710,000',
 '\n1301 5th Ave\nSeattle, WA 98101\nLease',
 '  Read More',
 '2017\n',
 'Tilt49',
 '306,000',
 '\n1812 Boren Ave.\nSeattle, WA 98101\nLease',
 '  Read More',
 '2017\n',
 'Troy Block',
 '817,000',
 '\n307 Fairview Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2015\n',
 'Urban Union',
 '287000',
 '\n501 Fairview Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2016\n',
 'West 8th',
 '250,000',
 '\n2001 Eighth Ave.\nSeattle, WA 98121\nLease',
 '  Read More',
 '2011\n',
 'Westlake Terry',
 '275,000',
 '\n321 Terry Ave. N.\nSeattle, WA 98109\nLease',
 '  Read More',
 '2016']

In [27]:
amazon_building_names = amazon_building_indiv[1:][::5]

amazon_building_names

['1260 Mercer',
 '1918 Eighth',
 '2201 Westlake',
 '300 Pine (Macy’s)',
 '425 Centre',
 '428 Westlake',
 '4th Block',
 '5th Block',
 '9th & Thomas',
 'Amazon Alexandria',
 'Amazon Coral',
 'Amazon Delight',
 'Amazon Galaxy',
 'Amazon Houston',
 'Amazon Kumo',
 'Amazon Phase VI (Nessie)',
 'Amazon Phase VII',
 'Amazon Phase VIII',
 'Amazon Roxanne',
 'Amazon Stackhouse',
 'Blanchard Plaza',
 'Block 20',
 'Day One',
 'Doppler',
 'Former Pemco HQ',
 'Metropolitan Park North',
 'Midtown21',
 'Original South Lake Union Campus (11 buildings)',
 'Rainier Square redevelopment',
 'Tilt49',
 'Troy Block',
 'Urban Union',
 'West 8th',
 'Westlake Terry']

In [28]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

/usr/local/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [33]:
len(amazon_ose_ids)

12

In [56]:
potential_matches = []

for building in amazon_building_names:
    df_match = list(all_buildings_dataframe[all_buildings_dataframe['BuildingName'].str.contains(building, case=False)]['OSEBuildingID'])
    if df_match:
        amazon_ose_ids += df_match
    else:
        potential_matches.append([building, process.extract(building, all_buildings_dataframe['BuildingName'], limit=10)])

/var/folders/dv/sn1_d0xn0vncjbncdpkkg_pc0000gn/T/ipykernel_80789/1596756794.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_match = list(all_buildings_dataframe[all_buildings_dataframe['BuildingName'].str.contains(building, case=False)]['OSEBuildingID'])

In [40]:
potential_matches

[['Amazon Phase VI (Nessie)',
  [('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('AMAZON BRAZIL', 86, 1500),
   ('AMAZON- UNICORN', 86, 1508),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('MARKET PLACE NORTH PHASE I CONDOMINIUM', 86, 2467),
   ('SEATTLE UNIVERSITY STUDENT HOUSING- VI HILBERT HALL', 86, 2638),
   ('Rainier Worklofts & Storage LLC. (Phase II)', 86, 3250),
   ('WHSE', 68, 3180),
   ('WHSE', 68, 3537),
   ('DAE II', 60, 1414)]],
 ['Amazon Phase VII',
  [('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('UW MEDICINE-LK UNION PHASE II', 86, 1542),
   ('SUNSET WEST PHASE II CONDOMINIUM', 86, 2091),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('MARKET PLACE NORTH PHASE I CONDOMINIUM', 86, 2467),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('Rainier Worklofts & Storage LLC. (Phase II)', 86, 3250),
   ('Rainier Storage LLC (Phase I)', 86, 3283)]],
 ['Amazon Phase VIII',
  [('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('UW MEDICINE-LK UNION PHASE II', 86, 1542),
   ('SUNSET WEST PHASE II CONDOMINIUM', 86, 2091),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('MARKET PLACE NORTH PHASE I CONDOMINIUM', 86, 2467),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('Rainier Worklofts & Storage LLC. (Phase II)', 86, 3250),
   ('Rainier Storage LLC (Phase I)', 86, 3283)]],
 ['Amazon Roxanne',
  [('AMAZON DOPPLER BUILDING', 86, 2),
   ('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('AMAZON BRAZIL', 67, 1500),
   ('AMAZON- UNICORN', 62, 1508),
   ('LOWES & AMAZON W', 61, 3412),
   ('VIRGINIA MASON- BARONESS HOTEL', 58, 648)]],
 ['Amazon Stackhouse',
  [('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('HORIZON HOUSE', 60, 175),
   ('TATE MASON', 60, 242),
   ('WAREHOUSE', 60, 903),
   ('WAREHOUSE', 60, 1141),
   ('WAREHOUSE', 60, 1213)]],
 ['Day One',
  [('ONE LAKEFRONT AT 1287', 86, 41),
   ('ONE UNION SQUARE', 86, 120),
   ('ONE CONVENTION PLACE', 86, 129),
   ('FIFTEEN TWENTY-ONE SECOND AVENUE', 86, 217),
   ('B F DAY ELEMENTARY (SPS-DISTRICT)', 86, 510),
   ('SEVENTH DAY ADVENTIST CHURCH', 86, 526),
   ('LATTER DAY SAINTS CHURCH', 86, 968),
   ('SEATTLE COUNTRY DAY SCHOOL', 86, 1522),
   ('ONE SIXTY LEE ST CONDO', 86, 1609),
   ('SEVENTY-O-ONE CONDOMINIUM', 86, 1884)]],
 ['Former Pemco HQ',
  [('PEMCO', 90, 1469),
   ('1130 BUILDING DARIGOLD HQ', 86, 3393),
   ('FLORERA', 64, 1881),
   ('AXIS APTS (FORMERLY EXPO 62)', 60, 1659),
   ('WHECO', 54, 1413),
   ('HARRISON SQUARE (Formerly Archstone Elliott Bay)', 54, 2318),
   ('PORTER APT', 54, 2683),
   ('CITY NORTH APTS (FORMERLY REKHI BUILDING)', 54, 2948),
   ('LINDEN BUILDING (Formerly EUROPEAN SOAPS, LTD)', 54, 3161),
   ('ACTIVE VOICE  BUILDING (FORMERLY SIXTH & LENORA)', 51, 2400)]],
 ['Midtown21',
  [('MIDTOWN', 88, 411),
   ('MIDTOWN 21 (AMAZON)', 80, 4),
   ('MIDORI', 60, 2700),
   ('HAMILTON APARTMENTS', 57, 39),
   ('ALEXANDER HAMILTON APARTMENTS', 57, 2301),
   ('UPTOWN 11', 56, 21),
   ('CHEMITHON', 56, 1411),
   ('SEDONA 215', 53, 1950),
   ('SPRINGHILL SUITES SEATTLE DOWNTOWN', 50, 64),
   ('OLYMPIC TOWER CONDOMINIUMS', 50, 130)]],
 ['Original South Lake Union Campus (11 buildings)',
  [('Conservatory Campus', 86, 11),
   ('UPTOWN 11', 86, 21),
   ('TWO UNION SQUARE', 86, 119),
   ('ONE UNION SQUARE', 86, 120),
   ('Fifth and Union', 86, 163),
   ('PUBLIC MARKET SOUTH GARAGE', 86, 180),
   ('FIRST AND UNION', 86, 199),
   ('98 UNION CONDOS', 86, 220),
   ('UNION PARK APARTMENTS', 86, 279),
   ('EASTLAKE CENTER (SOUTH)', 86, 300)]],
 ['Rainier Square redevelopment',
  [('TIMES SQUARE BUILDING (THE VANCE CORPORATION)', 86, 89),
   ('RAINIER TOWER', 86, 103),
   ('CENTURY SQUARE', 86, 116),
   ('TWO UNION SQUARE', 86, 119),
   ('ONE UNION SQUARE', 86, 120),
   ('MARKET SQUARE', 86, 135),
   ('MARINER SQUARE', 86, 537),
   ('COURT IN THE SQUARE (Goldsmith & Northcoast)', 86, 687),
   ('NINE CHERRY SQUARE', 86, 887),
   ('BALLARD SQUARE', 86, 1193)]],
 ['Tilt49',
  [('TILT 49 (OFFICE PORTION)', 75, 155),
   ('TILT 49 (MULTIFAMILY PORTION)', 75, 237),
   ('BAY VISTA RESIDENTIAL TOWER', 60, 2449),
   ('ODD FELLOWS LODGE - RETAIL', 54, 2625),
   ('A2ALLC (COLOR TILE)', 54, 3332),
   ('PARTS & SERVICE - PETERBILT', 54, 3359),
   ('OFC/RETAIL', 54, 3523),
   ('PRUDENTIAL BUILDING', 51, 745),
   ('MERRILL PLACE RESIDENTIAL CONDOMINIUM', 51, 849),
   ('RETAIL AND OFFICES', 51, 954)]],
 ['300 Pine (Macy’s)',
  [('PINE ST. CONDO-ELLIOTT GRAND HYATT SEATTLE', 86, 70),
   ("SEATTLE CHILDREN'S HOSPITAL  (JACK R MCDONALD BUILDING)", 86, 80),
   ('5TH & PINE', 86, 82),
   ("SEATTLE CHILDREN'S HOSPITAL RESEARCH BUILDING #2", 86, 132),
   ('TWO PINE', 86, 134),
   ("FOURTH & UNION BUILDING/MEN'S WAREHOUSE", 86, 148),
   ('1ST & PINE', 86, 271),
   ('UNIVERSITY VILLAGE EAST BLDG S', 86, 950),
   ("BARTELL'S AND APARTMENTS", 86, 999),
   ("SEATTLE CHILDREN'S HOSPITAL  (MAIN CAMPUS)", 86, 1117)]],
 ['425 Centre',
  [('LEGACY CENTRE & ARBOR PLACE CONDO', 86, 2445),
   ('4245 ROOSEVELT - UW MEDICAL CENTER', 77, 959),
   ('US BANK CENTRE', 71, 105),
   ('CENTRE COURT', 71, 1650),
   ('MERIDIAN CENTER WEST', 63, 157),
   ('MERIDIAN CENTER EAST', 63, 158),
   ('UNIVERSITY VILLAGE SHOPPING CENTER WEST BLDG', 63, 937),
   ('PORT OF SEATTLE - WORLD TRADE CENTER-WEST', 63, 2390),
   ('WORLD TRADE CENTER-EAST', 63, 2391),
   ('NORTHGATE MALL SHOPPING CENTER RETAIL STORES  - ACTIVE/PRIMARY ID',
    63,
    2845)]],
 ['4th Block',
  [('WALTHAM BLOCK/OCCIDENTAL BUILDING', 86, 726),
   ('OLYMPIC BLOCK BUILDING-COMMERCIAL', 86, 744),
   ('Ballard Block I (1416 NW 4th St)', 86, 1192),
   ('BALLARD BLOCK I - 4609 14th AVE NW', 86, 1197),
   ('Ballard Block II - West Marine', 86, 1204),
   ('TROY BLOCK (AMAZON)', 86, 1503),
   ('Block 25E - Google', 86, 1509),
   ('Block 31 - Google', 86, 1510),
   ('Block 25W - Google', 86, 1554),
   ('JENSEN BLOCK APARTMENTS', 86, 1590)]],
 ['5th Block',
  [('1518 5TH AVE OFFICE', 86, 145),
   ('5TH & JACKSON BUILDING', 86, 679),
   ('WALTHAM BLOCK/OCCIDENTAL BUILDING', 86, 726),
   ('OLYMPIC BLOCK BUILDING-COMMERCIAL', 86, 744),
   ('THE SANCTUARY AT 811 5TH AVE', 86, 764),
   ('5TH AND MADISON-Residential Portion', 86, 799),
   ('Ballard Block I (1416 NW 4th St)', 86, 1192),
   ('BALLARD BLOCK I - 4609 14th AVE NW', 86, 1197),
   ('Ballard Block II - West Marine', 86, 1204),
   ('TROY BLOCK (AMAZON)', 86, 1503)]],
 ['9th & Thomas',
  [('1800 9TH AVENUE BUILDING', 86, 92),
   ('FHCRC - Weintraub/Hutchinson/Thomas Bldgs combined', 86, 1441),
   ('QUEEN ANNE THOMAS APTS', 86, 1581),
   ('200 WEST THOMAS BUILDING', 86, 2191),
   ('YALE & THOMAS', 72, 1466),
   ('NOMA', 68, 1259),
   ('FOURTH & MADISON ( IDX TOWER)', 60, 670),
   ('COURT IN THE SQUARE (Goldsmith & Northcoast)', 60, 687),
   ('7TH & MADISON OFFICE BLDG. -(THE POLYCLINIC)', 60, 772),
   ('6TH & HOLGATE BUILDING', 60, 3300)]],
 ['Amazon Alexandria',
  [('GILEAD SCIENCES BLDG. (ALEXANDRIA R.E.)  ECON. UNI', 86, 327),
   ('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('ADRIA', 72, 1070),
   ('ALEXANDRIA BIOTECH', 70, 2217),
   ('ALEXANDRIA CONDOMINIUM', 70, 2505),
   ('AXLE', 68, 2246)]],
 ['Amazon Coral',
  [('AMAZON DOPPLER BUILDING', 86, 2),
   ('MIDTOWN 21 (AMAZON)', 86, 4),
   ('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('APOLLO BLDG (AMAZON)', 86, 1499),
   ('TROY BLOCK (AMAZON)', 86, 1503),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('AMAZON BRAZIL', 80, 1500)]],
 ['Amazon Delight',
  [('AMAZON DOPPLER BUILDING', 86, 2),
   ('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('ADMIRAL HEIGHTS', 62, 1974),
   ('AMAZON BRAZIL', 60, 1500),
   ('MIDTOWN 21 (AMAZON)', 57, 4),
   ('HARLOW HEIGHTS', 57, 23)]],
 ['Amazon Galaxy',
  [('AMAZON DOPPLER BUILDING', 86, 2),
   ('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('AMAZON BRAZIL', 69, 1500),
   ('MIDTOWN 21 (AMAZON)', 60, 4),
   ('APOLLO BLDG (AMAZON)', 60, 1499),
   ('TROY BLOCK (AMAZON)', 60, 1503)]],
 ['Amazon Houston',
  [('AMAZON DOPPLER BUILDING', 86, 2),
   ('AMAZON PHASE VI - NESSIE AND BIGFOOT', 86, 1497),
   ('URBAN UNION (AMELIA- AMAZON BLDG)', 86, 1504),
   ('DAY 1 TOWER AND SPHERES (Amazon)', 86, 2416),
   ('AMAZON REINVENT TOWERS (EAST + WEST)', 86, 2417),
   ('AMAZON DISTRIBUTION CENTER', 86, 3081),
   ('MIDTOWN 21 (AMAZON)', 62, 4),
   ('TROY BLOCK (AMAZON)', 62, 1503),
   ('AMAZON- UNICORN', 62, 1508),
   ('LOWES & AMAZON W', 61, 3412)]]]

In [ ]:
# 4th block and 5th block aren't in our dataset in any form, probably because dataset is from 2020
# Ditto Amazon Alexandria, Amazon Delight
# Amazon Unicorn building is owned by the city! Any more like that? Or has it been sold?

matched_names = [
    'AMAZON PHASE VI - NESSIE AND BIGFOOT',
    'AMAZON BRAZIL', # no match in list, used address
    'APOLLO BLDG (AMAZON)',
    '202 WESTLAKE',
    'SUPPLY LAUNDRY BUILDING', # this is 477 Yale Ave N (Amazon Stackhouse), same building but they changed the street number
    'DAY 1 TOWER AND SPHERES (Amazon)',
    'YALE & THOMAS',
    'RAINIER TOWER',
    'TILT 49 (OFFICE PORTION)',
    '300 PINE STREET',
    'AMAZON-UNICORN',
    '5TH & BELL BUILDING',
    '635 ELLIOTT - SOUTH BUILDING',
    '224 WESTLAKE',
    'SEATTLE CHILDREN\'S HOSPITAL RESEARCH BUILDING #2'
]

amazon_ose_ids += list(all_buildings_dataframe[all_buildings_dataframe['BuildingName'].isin(matched_names)]['OSEBuildingID'])

### Data center at the Westin (used by Amazon)

In [60]:
all_buildings_dataframe[all_buildings_dataframe['BuildingName'].str.contains('WESTIN', case=False)]

,OSEBuildingID,TaxParcelIdentificationNumber,DataYear,BuildingType,BuildingName,Owner,CouncilDistrictCode,Neighborhood,Units,YearBuilt,...,SecondLargestPropertyUseType,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,Outlier,ComplianceIssue,ComplianceStatus,Comments,DefaultData,LegislationPropertyType
56,3,659000475,2020,NonResidential,WESTIN HOTEL (Parent Building),SEATTLE HOST HOTEL COMPANY L L C,1,DOWNTOWN,891,1969,...,Parking,120545,Swimming Pool,0,None,No Issue,Compliant,None,None,Hotel
2438,753,659000950,2020,NonResidential,THE WESTIN BUILDING EXCHANGE (Office),2001 SIXTH LLC,1,DOWNTOWN,NOT_FOUND,1981,...,Office,189244,Parking,169000,None,No Issue,Compliant,None,None,Mixed Use Property

In [62]:
amazon_ose_ids += [753]

In [159]:
amazon_non_grocery_ose_ids = list(set(amazon_ose_ids))

In [160]:
amazon_non_grocery_buildings = all_buildings_dataframe[all_buildings_dataframe['OSEBuildingID'].isin(amazon_non_grocery_ose_ids)]

amazon_non_grocery_buildings.head()

,OSEBuildingID,TaxParcelIdentificationNumber,DataYear,BuildingType,BuildingName,Owner,CouncilDistrictCode,Neighborhood,Units,YearBuilt,...,SecondLargestPropertyUseType,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,Outlier,ComplianceIssue,ComplianceStatus,Comments,DefaultData,LegislationPropertyType
2,50160,659000775,2020,NonResidential,AMAZON DOPPLER BUILDING,ACORN DEVELOPMENT LLC,7,DOWNTOWN,None,2016,...,Parking,448625,Convention Center,59672,None,No Issue,Compliant,None,None,Office
4,50192,660001605,2020,NonResidential,MIDTOWN 21 (AMAZON),MIDTOWN21 LLC,1,DOWNTOWN,None,2016,...,Parking,110813,None,<NA>,None,No Issue,Compliant,None,None,Office
91,336,660000650,2020,NonResidential,1918 EIGHTH AVE,HUDSON 1918 EIGHTH AVENUE LLC,1,DOWNTOWN,NOT_FOUND,2009,...,Parking,161119,None,<NA>,None,No Issue,Compliant,None,None,Office
103,388,7137830040,2020,NonResidential,RAINIER TOWER,None,1,DOWNTOWN,NOT_FOUND,1976,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Office
125,433,8634230000,2020,NonResidential,300 PINE STREET,None,1,DOWNTOWN,NOT_FOUND,1929,...,Retail Store,283082,None,<NA>,None,No Issue,Compliant,None,None,Office

### Whole Foods stores, Amazon Go and Fresh stores

Average polluting of a grocery store: https://www.epa.gov/sites/default/files/documents/gc_averagestoreprofile_final_june_2011_revised_1.pdf

Average EUI for a grocery store: https://portfoliomanager.energystar.gov/pdf/reference/US%20National%20Median%20Table.pdf

Grocery stores are terrible, but Amazon is ranked 2nd best here: https://www.climatefriendlysupermarkets.org/scorecard

Address, name, OSE ID

#### Amazon Go stores

- 2131 7th Ave, Seattle, WA 98121 -- this is in the Spheres building
- 920 5th Ave, Seattle, WA 98104 -- MADISON CENTER (37 floors), 50096
- 1122 Madison St, Seattle, WA 98104 -- THE PERRY- FIRST HILL TOWER (17 floors), 50476
- 300 Boren Ave N, Seattle, WA 98109 -- TROY BLOCK (AMAZON) (so already in list)
- 1906 Terry Ave, Seattle, WA 98101 -- not included in dataset

#### Amazon Fresh stores

- 610 E Pike St, Seattle, WA 98122 -- this is the Ava apartments building in Capitol Hill. Not in dataset, very odd.
- 2301 S Jackson St, Seattle, WA 98144 -- not in dataset
- 76 S Lander St, Seattle, WA 98134 -- STARBUCKS (SODO) CENTER - Campus (maybe 1/7 of the first floor? 9 floors), 640 
- 13201 Aurora Ave N, Seattle, WA 98133 -- AURORA SHOPPING CENTER, 516
- 5100 15th Ave NW, Seattle, WA 98107 -- not in dataset

#### Whole Foods stores

- 2210 Westlake Ave, Seattle, WA 98121 -- not in dataset
- 1001 Broadway, Seattle, WA 98122 -- THE DANFORTH (grocery is 44525 sq ft, total sq ft 592484, ~1/13), 50460
- 2001 15th Ave W, Seattle, WA 98119 -- WHOLE FOODS INTERBAY (whole property is grocery), 700
- 1026 NE 64th St, Seattle, WA 98115 -- ROOSEVELT SQUARE (2 floors, probably about 2/3 of first floor, but 2nd floor only covers 1/3 of first floor, so 1/2), 132
- 4755 Fauntleroy Way SW Ste 190, Seattle, WA 98116 -- THE WHITTAKER, 50259 (7 stories)

In [ ]:
Leaving this aside for the moment, because I'm not convinced it's really reliable to estimate the GHGE from them

In [73]:
# These numbers are deliberately conservative
# ['storeOSEid', 'segments'], floor area calculated as 1/segments

groceries_and_proportions = [
    [50096, 37, 'Grocery - Amazon Go'],
    [50476, 17, 'Grocery - Amazon Go'],
    [640, 63, 'Grocery - Amazon Fresh'],
    [516, 1, 'Grocery - Amazon Fresh'],
    [50460, 13, 'Grocery - Whole Foods'],
    [700, 1, 'Grocery - Whole Foods'],
    [132, 2,'Grocery - Whole Foods'],
    [50259, 7, 'Grocery - Whole Foods']
]

In [145]:
groceries = []

grocery_headers = [
    'OSEBuildingID', 
    'TaxParcelIdentificationNumber',
    'Address',
    'PropertyGFATotal',
    'TotalGHGEmissions__metric_tons_',
    'PortionOfTotalBuilding',
    'StoreGFATotal',
#     'StoreTotalGHGEmissions__metric_tons',
    'SiteEnergyUse_kBtu_',
#     'StoreTotalSiteEnergyUse_kBtu',
    'NaturalGas_kBtu_',
    'Electricity_kBtu_',
    'SteamUse_kBtu_'
]

In [146]:
groceries = []
for store in groceries_and_proportions:
    data = all_buildings_dataframe[all_buildings_dataframe['OSEBuildingID'] == store[0]].iloc[0]
    groceries.append([
        data['OSEBuildingID'], # 'OSEBuildingID', 
        data['TaxParcelIdentificationNumber'], #'TaxParcelIdentificationNumber'
        data['Address'], # 'Address'
        data['PropertyGFATotal'], #'Address'
        data['TotalGHGEmissions__metric_tons_'], # 'TotalGHGEmissions__metric_tons_'
        store[1], # 'PortionOfTotalBuilding'
        data['PropertyGFATotal'] / float(store[1]),
#         data['TotalGHGEmissions__metric_tons_'] / float(store[1]),
        data['SiteEnergyUse_kBtu_'],
#         data['SiteEnergyUse_kBtu_'] / float(store[1]),
        data['NaturalGas_kBtu_'],
        data['Electricity_kBtu_'],
        data['SteamUse_kBtu_']
    ])

In [147]:
grocery_df = pd.DataFrame(data=groceries, columns=grocery_headers)

In [244]:
grocery_df['Owner'] = 'AMAZON'
amazon_grocery_df = grocery_df #because grocery_gf is a terrible name
grocery_df.head()

,OSEBuildingID,TaxParcelIdentificationNumber,Address,PropertyGFATotal,TotalGHGEmissions__metric_tons_,PortionOfTotalBuilding,StoreGFATotal,SiteEnergyUse_kBtu_,NaturalGas_kBtu_,Electricity_kBtu_,SteamUse_kBtu_,EstStoreGHGE_metric_tons,Owner
0,50096,942000415,920 5TH AVE,990000,270.6,37,26756.756757,23567748,3084493,20080978,0,1709.524089,AMAZON
1,50476,1978200610,1001 MINOR AVE,235046,165.7,17,13826.235294,6974812,2708180,4109150,0,883.376207,AMAZON
2,640,7666207220,2401 UTAH AVE S,1750319,601.3,63,27782.841270,67454992,5098413,62160908,0,1775.081967,AMAZON
3,516,1926049215,13201 AURORA AVE N,87665,24.9,1,87665.000000,4690846,0,4690845,0,5601.031196,AMAZON
4,50460,6390080000,1425 SPRING ST,592484,203.9,13,45575.692308,8849064,3277350,5620096,0,2911.890428,AMAZON

In [154]:
# conservative estimate of GHGE in metric tons
# based on EPA: https://www.epa.gov/sites/default/files/documents/gc_averagestoreprofile_final_june_2011_revised_1.pdf

def estimate_ghge_for_grocery(sq_ft):
    avg_co2_fac = 1383 
    avg_ref_fac = 1556
    return ((sq_ft / 46000.0) * avg_co2_fac) + ((sq_ft / 46000) * avg_ref_fac)

In [137]:
# grocery_df['StoreNaturalGas_kBtu'] = grocery_df['NaturalGas_kBtu_'] / grocery_df['PortionOfTotalBuilding']
# grocery_df['StoreElectricity_kBtu'] = grocery_df['Electricity_kBtu_'] / grocery_df['PortionOfTotalBuilding']
# grocery_df['StoreSteamUse_kBtu'] = grocery_df['SteamUse_kBtu_'] / grocery_df['PortionOfTotalBuilding']

In [155]:
grocery_df['EstStoreGHGE_metric_tons'] = estimate_ghge_for_grocery(grocery_df['StoreGFATotal'])

In [156]:
grocery_df.head()

,OSEBuildingID,TaxParcelIdentificationNumber,Address,PropertyGFATotal,TotalGHGEmissions__metric_tons_,PortionOfTotalBuilding,StoreGFATotal,SiteEnergyUse_kBtu_,NaturalGas_kBtu_,Electricity_kBtu_,SteamUse_kBtu_,EstStoreGHGE_metric_tons
0,50096,942000415,920 5TH AVE,990000,270.6,37,26756.756757,23567748,3084493,20080978,0,1709.524089
1,50476,1978200610,1001 MINOR AVE,235046,165.7,17,13826.235294,6974812,2708180,4109150,0,883.376207
2,640,7666207220,2401 UTAH AVE S,1750319,601.3,63,27782.841270,67454992,5098413,62160908,0,1775.081967
3,516,1926049215,13201 AURORA AVE N,87665,24.9,1,87665.000000,4690846,0,4690845,0,5601.031196
4,50460,6390080000,1425 SPRING ST,592484,203.9,13,45575.692308,8849064,3277350,5620096,0,2911.890428

In [157]:
# total emissions for grocery stores
grocery_df['EstStoreGHGE_metric_tons'].sum()

30237.118187121858

In [152]:
aggregate_landlords_df.head()

,Unnamed: 0,Owner,BuildingsOwned,TotalSquareFootage,TotalGHGEmissions__metric_tons_,TotalElectricity_kBtu_,TotalSteamUse_kBtu,TotalNaturalGas_kBtu,TotalOtherFuelUse_kBtu,AverageGHGEmissionsIntensity,AverageSiteEUI_kBtu_sf,AverageSourceEUI_kBtu_sf,AverageENERGYSTARScore
0,0,CITY OF SEATTLE,175,17038324,16357,501287744,6826192,247129120,0,1.172674,49.970175,108.376608,72.747899
1,1,UNIVERSITY OF WASHINGTON,43,18445870,39712,679730875,366595771,106707401,0,4.756098,147.265000,321.932500,61.818182
2,2,STATE OF WASHINGTON,17,2768746,3614,88426130,0,59208493,0,2.112500,71.162500,134.625000,55.375000
3,3,KING COUNTY,16,4355059,22535,255701627,16515088,372904431,0,1.750000,66.943750,137.293750,68.083333
4,4,OVERLOOK MAGNOLIA APARTMENTS LLC,11,388815,52,9911319,0,0,0,0.127273,25.418182,71.145455,74.545455

In [ ]:
Other supermarkets:
QUALITY FOOD CENTERS
SAFEWAY

### Amazon vs. Other Landlords

In [164]:
amazon_v_landlords = aggregate_landlords_df[['Owner', 'BuildingsOwned', 'TotalSquareFootage', 'TotalGHGEmissions__metric_tons_', 'TotalNaturalGas_kBtu', 'AverageGHGEmissionsIntensity']]

In [171]:
amazon_v_landlords.loc[len(amazon_v_landlords)] = [
    'AMAZON OFFICES',
    len(amazon_non_grocery_buildings),
    amazon_non_grocery_buildings['PropertyGFATotal'].sum(),
    amazon_non_grocery_buildings['TotalGHGEmissions__metric_tons_'].sum(),
    amazon_non_grocery_buildings['NaturalGas_kBtu_'].sum(),
    amazon_non_grocery_buildings['GHGEmissionsIntensity'].mean()
]

/var/folders/dv/sn1_d0xn0vncjbncdpkkg_pc0000gn/T/ipykernel_80789/278652120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_v_landlords.loc[len(amazon_v_landlords)] = [

In [173]:
amazon_v_landlords.loc[len(amazon_v_landlords)] = [
    'AMAZON GROCERY',
    len(grocery_df),
    grocery_df['StoreGFATotal'].sum(),
    grocery_df['EstStoreGHGE_metric_tons'].sum(),
    0,
    (grocery_df['EstStoreGHGE_metric_tons'].sum() / grocery_df['StoreGFATotal'].sum()) * 1000
]

/var/folders/dv/sn1_d0xn0vncjbncdpkkg_pc0000gn/T/ipykernel_80789/393165300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_v_landlords.loc[len(amazon_v_landlords)] = [

In [174]:
amazon_v_landlords.loc[len(amazon_v_landlords)] = [
    'ALL AMAZON',
    len(grocery_df) + len(amazon_non_grocery_buildings),
    grocery_df['StoreGFATotal'].sum() + amazon_non_grocery_buildings['PropertyGFATotal'].sum(),
    grocery_df['EstStoreGHGE_metric_tons'].sum() + amazon_non_grocery_buildings['TotalGHGEmissions__metric_tons_'].sum(),
    amazon_non_grocery_buildings['NaturalGas_kBtu_'].sum(),
    (amazon_non_grocery_buildings['GHGEmissionsIntensity'].mean() + ((grocery_df['EstStoreGHGE_metric_tons'].sum() / grocery_df['StoreGFATotal'].sum()) * 1000)) / 2
]

/var/folders/dv/sn1_d0xn0vncjbncdpkkg_pc0000gn/T/ipykernel_80789/2509588267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_v_landlords.loc[len(amazon_v_landlords)] = [

In [177]:
amazon_v_landlords.sort_values('TotalGHGEmissions__metric_tons_', ascending=False)[:20]

,Owner,BuildingsOwned,TotalSquareFootage,TotalGHGEmissions__metric_tons_,TotalNaturalGas_kBtu,AverageGHGEmissionsIntensity
1,UNIVERSITY OF WASHINGTON,43,1.844587e+07,39712.000000,106707401,4.756098
2080,ALL AMAZON,40,1.657504e+07,36622.218187,40783705,32.194090
2079,AMAZON GROCERY,8,4.732587e+05,30237.118187,0,63.891304
3,KING COUNTY,16,4.355059e+06,22535.000000,372904431,1.750000
0,CITY OF SEATTLE,175,1.703832e+07,16357.000000,247129120,1.172674
152,SWEDISH HOSPITAL MEDICAL CENTE,2,1.659904e+06,11941.000000,16108152,5.600000
2078,AMAZON OFFICES,32,1.610178e+07,6385.100000,40783705,0.496875
896,JAMES TOWER LLC,1,5.975190e+05,4805.000000,84872338,8.000000
1706,KOLL LAKE UNION ASSOC L P,1,5.272890e+05,4524.000000,79160244,8.600000
2,STATE OF WASHINGTON,17,2.768746e+06,3614.000000,59208493,2.112500
14,SEATTLE UNIVERSITY,6,2.624288e+06,3019.000000,51904014,0.533333
17,SEATTLE PACIFIC UNIVERSITY,5,7.538010e+05,2150.000000,38279666,1.500000
1445,CHILDREN'S HOSPITAL & REGIONAL MEDICAL CENTER,1,2.306380e+05,1927.000000,33574922,8.400000
1602,CITY INVESTORS XII L L C,1,2.255810e+05,1707.000000,28404272,7.600000
1446,HT-SEATTLE OWNER LLC,1,1.062251e+06,1620.000000,27548291,1.500000
51,UNIVERSITY OF HAWAII FOUNDATION,2,3.850480e+05,1619.000000,26048330,4.900000
10,ACORN DEVELOPMENT LLC,9,5.109919e+06,1595.000000,15879116,0.177778
1376,WASHINGTON STATE CONVENTION CENTER,1,9.462120e+05,1471.000000,1251147,1.600000
310,2001 SIXTH LLC,1,4.294050e+05,1455.000000,315739,3.400000
1237,HART FIRST HILL LLC,1,2.275690e+05,1439.000000,0,6.300000

Amazon as a whole is the 2nd largest emitter, ~36k metric tons of CO2/yr. UW not far ahead at 39k.

Amazon grocery is 2nd if we separate offices and grocery, 30k. And grocery at #6, 6k tons.

If we exclude grocery, then we could say Amazon's the 5th worse emitter. But the problem is that we're looking at a drop from 39k with UW to 6k with Amazon offices. That's pretty pathetic.
That's still the worst office buildings, minus the city and state. So heaviest polluting corporate offices. That's something we could work with.

In [178]:
amazon_v_landlords.sort_values('TotalSquareFootage', ascending=False)[:10]

,Owner,BuildingsOwned,TotalSquareFootage,TotalGHGEmissions__metric_tons_,TotalNaturalGas_kBtu,AverageGHGEmissionsIntensity
1,UNIVERSITY OF WASHINGTON,43,1.844587e+07,39712.000000,106707401,4.756098
0,CITY OF SEATTLE,175,1.703832e+07,16357.000000,247129120,1.172674
2080,ALL AMAZON,40,1.657504e+07,36622.218187,40783705,32.194090
2078,AMAZON OFFICES,32,1.610178e+07,6385.100000,40783705,0.496875
10,ACORN DEVELOPMENT LLC,9,5.109919e+06,1595.000000,15879116,0.177778
3,KING COUNTY,16,4.355059e+06,22535.000000,372904431,1.750000
2,STATE OF WASHINGTON,17,2.768746e+06,3614.000000,59208493,2.112500
14,SEATTLE UNIVERSITY,6,2.624288e+06,3019.000000,51904014,0.533333
136,UNION SQUARE LIMITED LIABILITY COMPANY,2,1.973704e+06,561.000000,1899978,0.250000
50,WASHINGTON ST PUBLIC STADIUM ATHRTY,2,1.919658e+06,824.000000,10829543,0.500000

Amazon also the largest by sq ft. That's pretty good. If we estimate more numbers based on othese other buildings not in the data set, we'll get even higher numbers.

Can't include the stadium, people like sports. Boo.

Side note: look at Acorn, what's their deal?

In [228]:
non_amazon_groceries = all_buildings_dataframe[all_buildings_dataframe['EPAPropertyType'] == 'Supermarket/Grocery Store']

# just in case any of them aren't marked as grocery stores
qfc = all_buildings_dataframe[
    (all_buildings_dataframe['BuildingName'].str.contains('QFC')) |
    (all_buildings_dataframe['BuildingName'].str.contains('QUALITY FOOD CENTER'))
]

qfc = qfc.assign(Owner='QFC')

In [229]:
safeway = all_buildings_dataframe[all_buildings_dataframe['BuildingName'].str.contains('SAFEWAY')]

safeway = safeway.assign(Owner='SAFEWAY')
safeway.head()

,OSEBuildingID,TaxParcelIdentificationNumber,DataYear,BuildingType,BuildingName,Owner,CouncilDistrictCode,Neighborhood,Units,YearBuilt,...,SecondLargestPropertyUseType,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,Outlier,ComplianceIssue,ComplianceStatus,Comments,DefaultData,LegislationPropertyType
1113,21921,2437200030,2020,NonResidential,SAFEWAY STORE # 488,SAFEWAY,4,NORTHEAST,NOT_FOUND,1975,...,Parking,0,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
1280,22240,2768300240,2020,NonResidential,SAFEWAY STORE # 1477,SAFEWAY,1,BALLARD,NOT_FOUND,2000,...,Parking,0,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
1739,20565,1794500895,2020,NonResidential,SAFEWAY STORE # 368,SAFEWAY,7,MAGNOLIA / QUEEN ANNE,None,1962,...,Parking,0,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
1815,25914,6003501820,2020,NonResidential,SAFEWAY STORE # 1551,SAFEWAY,3,EAST,NOT_FOUND,1998,...,Parking,0,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
1960,24479,7974200020,2020,NonResidential,SAFEWAY STORE # 423,SAFEWAY,4,NORTHEAST,NOT_FOUND,1965,...,Parking,0,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store

In [198]:
qfc['EPAPropertyType'].unique()

array(['Supermarket/Grocery Store', 'Unclassified',
       'Non-Refrigerated Warehouse'], dtype=object)

In [199]:
safeway['EPAPropertyType'].unique()

array(['Supermarket/Grocery Store'], dtype=object)

In [207]:
qfc.reset_index(drop=True, inplace=True)
safeway.reset_index(drop=True, inplace=True)
non_amazon_groceries.reset_index(drop=True, inplace=True)

In [230]:
all_non_amazon_grocery = pd.concat([qfc, safeway, non_amazon_groceries])

In [231]:
all_non_amazon_grocery

,OSEBuildingID,TaxParcelIdentificationNumber,DataYear,BuildingType,BuildingName,Owner,CouncilDistrictCode,Neighborhood,Units,YearBuilt,...,SecondLargestPropertyUseType,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,Outlier,ComplianceIssue,ComplianceStatus,Comments,DefaultData,LegislationPropertyType
1112,20045,925049330,2020,NonResidential,2746 NE 45TH ST - QFC,QFC,1,NORTHEAST,NOT_FOUND,1955,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Self-Storage Facility
1281,49946,2767604965,2020,NonResidential,QFC - Ballard,QFC,1,BALLARD,None,2010,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Multifamily Housing
1740,35392,4458720010,2020,NonResidential,QFC at 500 MERCER,QFC,7,MAGNOLIA / QUEEN ANNE,None,2006,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
1971,20432,1333100000,2020,Multifamily MR (5-9),CAPCO PLAZA (ALTAMIRA + QFC ETC.),QFC,1,SOUTHWEST,157,2008,...,None,<NA>,None,<NA>,None,Portfolio Manager Account Not Shared,Not Compliant,None,None,Other
2358,22479,2770602660,2020,NonResidential,QFC MARKET,QFC,7,MAGNOLIA / QUEEN ANNE,NOT_FOUND,1961,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3389,27162,5637500005,2020,NonResidential,WEST SEATTLE THRIFTWAY,JORVE INVESTMENTS LLC,1,SOUTHWEST,NOT_FOUND,1998,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
3488,802,5260300005,2020,NonResidential,QFC AND RITE AID DRUG STORE,RAINIER PLAZA #2 LLC,1,GREATER DUWAMISH,NOT_FOUND,1963,...,Retail Store,22081,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
3489,23098,3086003145,2020,NonResidential,HILLTOP RED APPLE MARKET,METROPOLE HILLTOP LLC,2,GREATER DUWAMISH,NOT_FOUND,1965,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
3501,558,6632300290,2020,NonResidential,QFC & DOLLAR STORE,ABC PACIFIC CORPORATION $T,5,NORTH,NOT_FOUND,1980,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store
3504,381,767000060,2020,NonResidential,QFC HOLMAN ROAD,FRMC LLC,1,NORTHWEST,NOT_FOUND,1956,...,None,<NA>,None,<NA>,None,No Issue,Compliant,None,None,Supermarket/Grocery Store

In [232]:
all_non_amazon_grocery.drop_duplicates(subset='OSEBuildingID', inplace=True)

In [269]:
grocery_by_ghge = all_non_amazon_grocery[['Owner', 'Address', 'TotalGHGEmissions__metric_tons_']]
amazon_grocery_df['TotalGHGEmissions__metric_tons_'] = amazon_grocery_df['EstStoreGHGE_metric_tons'] # normalize column names
amazon_grocery_df.head()

,OSEBuildingID,TaxParcelIdentificationNumber,Address,PropertyGFATotal,TotalGHGEmissions__metric_tons_,PortionOfTotalBuilding,StoreGFATotal,SiteEnergyUse_kBtu_,NaturalGas_kBtu_,Electricity_kBtu_,SteamUse_kBtu_,EstStoreGHGE_metric_tons,Owner
0,50096,942000415,920 5TH AVE,990000,1709.524089,37,26756.756757,23567748,3084493,20080978,0,1709.524089,AMAZON
1,50476,1978200610,1001 MINOR AVE,235046,883.376207,17,13826.235294,6974812,2708180,4109150,0,883.376207,AMAZON
2,640,7666207220,2401 UTAH AVE S,1750319,1775.081967,63,27782.841270,67454992,5098413,62160908,0,1775.081967,AMAZON
3,516,1926049215,13201 AURORA AVE N,87665,5601.031196,1,87665.000000,4690846,0,4690845,0,5601.031196,AMAZON
4,50460,6390080000,1425 SPRING ST,592484,2911.890428,13,45575.692308,8849064,3277350,5620096,0,2911.890428,AMAZON

In [273]:
# grocery_by_ghge[grocery_by_ghge['Owner'] == 'AMAZON']['TotalGHGEmissions__metric_tons_'] = grocery_by_ghge['EstStoreGHGE_metric_tons']
all_grocery_ghge = pd.concat([amazon_grocery_df[['Owner', 'Address', 'TotalGHGEmissions__metric_tons_']], grocery_by_ghge])

In [274]:
grocery_by_ghge_ranking = all_grocery_ghge.groupby('Owner')['TotalGHGEmissions__metric_tons_'].sum().sort_values(ascending=False)
grocery_by_ghge_ranking

Owner
AMAZON                                                    30237.118187
SAFEWAY                                                    3056.700000
QFC                                                        1773.900000
COSTCO WHOLESALE CORPORATION                                529.000000
FRED MEYER STORES INC                                       423.000000
GREENWOOD FM PROPERTIES LLC                                 365.200000
ADMIRAL FARM TO MARKET L L C                                356.800000
PAJIS WA L L C                                              321.100000
DS INTERBAY URBAN CENTER LP                                 291.200000
RRDS LLC                                                    284.000000
DAMBROSIO ENTERPRISES LLC                                   244.700000
ROOSEVELT SQUARE REGENCY LLC                                145.200000
OAKTREE PLAZA ASSOCIATES                                    134.400000
METROPOLE HILLTOP LLC                                        96.500000
SAINT GERVAIS LLC % STARRETT CTY ASSO                        42.600000
ANYU LLC (89.4%)+KREMER FAMILY REVOCABLE TRUST (10.6%)       15.200000
OB SODO PROPERTIES V LLC                                     13.400000
HULING BROS PROP LLC                                         10.000000
1550 ARMORY LLC                                               6.900000
JORVE INVESTMENTS LLC                                         0.000000
Name: TotalGHGEmissions__metric_tons_, dtype: float64

In [276]:
all_non_amazon_grocery['StoreGFATotal'] = all_non_amazon_grocery['PropertyGFABuilding_s_'] #normalize columns
grocery_size_ranking = pd.concat([
    amazon_grocery_df[['Owner', 'Address', 'TotalGHGEmissions__metric_tons_', 'StoreGFATotal']], 
    all_non_amazon_grocery[['Owner', 'Address', 'TotalGHGEmissions__metric_tons_', 'StoreGFATotal']]
])

In [280]:
grocery_size_ranking.head()

    Owner             Address  TotalGHGEmissions__metric_tons_  StoreGFATotal
0  AMAZON         920 5TH AVE                      1709.524089   26756.756757
1  AMAZON      1001 MINOR AVE                       883.376207   13826.235294
2  AMAZON     2401 UTAH AVE S                      1775.081967    27782.84127
3  AMAZON  13201 AURORA AVE N                      5601.031196        87665.0
4  AMAZON      1425 SPRING ST                      2911.890428   45575.692308

In [279]:
grocery_size_ranking.groupby('Owner')['StoreGFATotal'].sum().sort_values('StoreGFATotal', ascending=False, inplace=True)
grocery_size_ranking

/var/folders/dv/sn1_d0xn0vncjbncdpkkg_pc0000gn/T/ipykernel_80789/386228859.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  grocery_size_ranking.groupby('Owner')['StoreGFATotal'].sum().sort_values('StoreGFATotal', ascending=False, inplace=True)

ValueError: No axis named StoreGFATotal for object type Series